.info {
  font-family: monospace;
  position: absolute;
  top: 200px;
}

.info--mobile {
  display: none;
}

.info--left {
  left: 60px;
}

.info--right {
  right: 60px;
}

.info__element {
  position:relative;
  background-color: #fff;
  color: #000;
  padding: 5px;
  margin: 2px 0;
  display: inline-block;
}

.info__element:before {
  content: attr(data-animation);
  position: absolute;
  color: #fff;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation-duration: 0.8s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media screen and (max-width: 500px) {
  .info {
    display: none;
    top: auto;
    bottom: 20px;
  }

  .info__element {
    background-color: transparent;
    margin: 0;
    padding: 0;
  }

  .info--left {
    left: 20px;
  }

  .info--mobile {
    display: block;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    width:200px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes changewidth {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}