.info {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  position: absolute;
  text-transform: capitalize;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1em;
  letter-spacing: 0.5em;
}

.info--top {
  top: 25%;
}

.info--bottom {
  /*font-family: monospace;
  font-size: 1em;*/
  bottom: 25%;
}

.info__element {
  position:relative;
  background-color: #67c3b4;
  color: #fff;
  padding: 5px;
  padding-left: 15px;
  margin: 2px 0;
  display: inline-block;
}

.info__element:before {
  content: attr(data-animation);
  position: absolute;
  color: #71D9C8;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation-duration: 0.8s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}



@media screen and (max-width: 900px) {
  .info {
    font-size: 1em;
  }
}

@keyframes changewidth {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}