.section h1 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.section--catalog ul li {
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
  height: auto;
  min-height: auto;
  color: #67c3b4;
  background-color: #fff;
  margin-bottom: 5px;
  padding: 15px;
  padding-top: 10px;
  position: relative;
  /*transition: font-size 0.2s ease-out; */
}

.section--catalog ul li .fa {
  transition: opacity 0.2s ease-out;
  font-size: 2em;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.section--catalog ul li:hover {
  /*font-size: 2em;*/
}

.section--catalog ul li:hover .fa {
  /*opacity: 0;*/
}

.section--catalog ul li span {
  position: absolute;
  left: 60px;
  top: 18px;
  transition: all 0.2s ease-out;
}

.section--catalog ul li:hover span {
  left: 50%;
  transform: translateX(-50%);
}