.navigation {
  margin-top: 20px;
  margin-right: 8%;
  transition: opacity 0.5s ease-in;
  opacity: 1;
  text-align: right;
}

.navigation__list {
  text-transform: uppercase;
  font-size: 0.85em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__list-element {
  display: inline-block;
  line-height: 1em;
  text-align: center;
}

.navigation__list-element:last-child {
  border-right: none;
}

.navigation__list-element a {
  position: relative;
  color: #fff;
  padding: 20px 10px;
  z-index: 2;
}

.navigation__list-element-before {
  position:absolute;
  -webkit-transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
  display:inline-block;
  width:100%;
  height:0%;
  left: 0;
  bottom: 0;
  background-color: #0ad4b3;
  z-index: 0;
}

.navigation__list-element a:hover .navigation__list-element-before {
  height: 100%;
}

.navigation__list-element a:focus {
  color: #fff;
}

.navigation__list-element-text {
  position:relative;
  z-index: 1;
}

@media screen and (max-width: 995px) {
  .navigation {
    text-align: left;
  }
}